body{
    text-align:center
    
}
.btn{
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
    
}
.yellow{
    background-color: #f99b45;
}
.red{
    background-color: #d95980;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color: rgba(128, 0, 128, 0.877);
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}